.white-background {
  background-color: white;
}
.yellow-background {
  background-color: $yellow;
}
.gray-background {
  background-color: $grey;
}
.gold-background {
  background-color: $goldenrod;
}
.footer {
  background-color: $gunmetal;
}
