.counter-block{
  height: 80%;
  width: 25%;
  margin-top: 25px;
  max-width: 50px;
  background-color: white;
  display: inline-block;
}
.counter-box{
  height: 70px;
  width: 99%;
  margin-left: 23%;
}
