.sponsor{
  .herohead{
    margin: 5%;
  }
  .white-bar{
    margin-top: -4%;
  }
  .ticket-container{
    margin-top: 50px;
    .mont24{
      letter-spacing: 1.2px;
      text-align: left;
      color: white;
      font-weight: bold;
    }
  }
  .hiddenContent{
    margin: 5% 0 5% 0;
    max-width: 250px;
    height: auto;
    display: none;
  .mont16{
    display: none;
    color: black;
    display: block;
    width: 200px;
    line-height: $threeSix;
    text-align: left;
    margin-right: 0;
    padding: 0;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  strong{
    font-weight: bold;
  }
  .gold{
    color: $yellow;
    padding-top: 20px;
  }
}
  .white-background{
    margin-top: -100px;
      .mont18{
        letter-spacing: .9px;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 15px;
      }
  }
    .mont21{
      line-height: $twoFour;
      text-align: left;
    }
    .lora16{
      line-height: $twoFour;
      letter-spacing: .8px;
      text-align: left;
      strong{
        font-weight: bold;
      }
    }
  }
  .gray-background{
    .mont24{
      line-height: $twoFour;
      letter-spacing: 1.2px;
      text-align: left;
      font-weight: bold;
    }
    .lato18{
      line-height: $twoFour;
      letter-spacing: .9px;
      text-align: left;
    }
  }
  .two{
    .mont21{
      line-height: $twoFour;
      text-align: left;
      font-weight: bold;
    }
    .lora16{
      line-height: $twoFour;
      letter-spacing: .8px;
      text-align: left;
    }
    .main-button{
      .mont16{
        line-height: $threeSix;
        letter-spacing: .8px;
        text-align: center;
        color: white;
      }
    }
  }
  .yellow-background{
    .mont21{
      line-height: 1.43;
      text-align: left;
      font-weight: bold;
    }
    .lora18{
      line-height: $twoFour;
      text-align: left;
      font-weight: bold;
    }
    .lora16{
      line-height: $twoFour;
      text-align: left;
    }
  }
  .footer{
    .lora15{
      line-height: $twoFour;
      text-align: left;
    }
    .mont15{
      font-weight: 500;
    }
    .bot{
      letter-spacing: 1.8px;
    }
    color: white;
  }
