.index{
  .counter-container{
    .mont18{
      letter-spacing: .9px;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .mont21{
      text-align: center;
      color: white;
    }
  }
  .ticket-container{
    .mont24{
      letter-spacing: 1.2px;
      text-align: center;
      font-weight: bold;
      color: white;
    }
    .mont18{
      letter-spacing: .9px;
      text-align: center;
      font-weight: bold;
      color: $yellow;
    }
  }
  .white-background{
    .lora21{
      line-height: $threeTwo;
      text-align: left;
      font-weight: bold;
    }
    .lora17{
      line-height: $twoFour;
      letter-spacing: 0.9px;
      text-align: left;
    }
  }
  .gray-background{
    .lora18{
      line-height: $twoFour;
      letter-spacing: .9px;
      text-align: left;
      font-weight: bold;
    }
    .lora16{
      line-height: $twoFour;
      letter-spacing: .8px;
      text-align: left;
    }
  }
  .two{
    .lora21{
      line-height: $threeSix;
      text-align: left;
      font-weight: bold;
    }
    .lora17{
      line-height: $twoFour;
      letter-spacing: .9px;
      text-align: left;
    }
    .mont18{
      line-height: 1.73;
      letter-spacing: .9px;
      text-align: left;
    }
    .mont21{
      line-height: $threeSix;
      text-align: left;
      color: $yellow;
      font-weight: bold;
    }
  }
  .yellow-background{
    .mont21{
      line-height: 1.43;
      text-align: left;
      font-weight: bold;
    }
    .lora18{
      line-height: $twoFour;
      text-align: left;
      strong{
        font-weight: bold;
      }
    }
    .lora16{
      line-height: $twoFour;
      text-align: left;
    }
  }
  .footer{
    .lora15{
      line-height: $twoFour;
      text-align: left;
      color: white;
    }
    .mont15{
      font-weight: 500;
      color: white;
    }
    .bot{
      letter-spacing: 1.8px;
      color: white;
    }
  }
}
