.index{
  .counter-container{
    .mont18{
      letter-spacing: .9px;
      text-align: center;
      color: white;
    }
    .mont21{
      text-align: center;
      color: white;
    }
  }
  .ticket-container{
    .mont24{
      letter-spacing: 1.2px;
      text-align: center;
    }
    .mont18{
      letter-spacing: .9px;
      text-align: center;
    }
  }
  .white-background{
    .lora21{
      line-height: $threeTwo;
      text-align: left;
    }
    .lora17{
      line-height: $twoFour;
      letter-spacing: 0.9px;
      text-align: left;
    }
  }
  .gray-background{
    .lora18{
      line-height: $twoFour;
      letter-spacing: .9px;
      text-align: left;
    }
    .lora16{
      line-height: $twoFour;
      letter-spacing: .8px;
      text-align: left;
    }
  }
  .two{
    .lora21{
      line-height: $threeSix;
      text-align: left;
    }
    .lora17{
      line-height: $twoFour;
      letter-spacing: .9px;
      text-align: left;
    }
    .mont18{
      line-height: 1.73;
      letter-spacing: .9px;
      text-align: left;
    }
    .mont21{
      line-height: $threeSix;
      text-align: left;
      color: $yellow;
    }
  }
  .gold-background{
    .mont21{
      line-height: 1.43;
      text-align: left;
    }
    .lora18{
      line-height: $twoFour;
      text-align: left;
    }
    .lora16{
      line-height: $twoFour;
      text-align: left;
    }
  }
  .footer{
    .lora15{
      line-height: $twoFour;
      text-align: left;
    }
    .bot{
      letter-spacing: 1.8px;
    }
  }
}
