.herohead{
  font-family: $lora;
  font-size: 24px;
  color: $yellow;
  letter-spacing: 1.2;
  font-weight: bold;
}
.herohome{
  @extend herohead;
  font-size: 32px;
}
.mont24{
  font-family: $mont;
  font-size: 24px;
}
.mont18{
  font-family: $mont;
  font-size: 18px;
}
.mont16{
  font-family: $mont;
  font-size: 16px;
}
.mont21{
  font-family: $mont;
  font-size: 21px;
}
.lora16{
  font-family: $lora;
  font-size: 16px;
}
.lora21{
  font-family: $lora;
  font-size: 21px;
}
.lora18{
  font-family: $lora;
  font-size: 18px;
}
.lora17{
  font-family: $lora;
  font-size: 17px;
}
.lora15{
  font-family: $lora;
  font-size: 15px;
}
.mont14{
  font-family: $mont;
  font-size: 13.6px;
  font-weight: bolder;
}
.mont13{
  font-family: $mont;
  font-size: 13px;
}
