.white-divider {
  padding: 2px;
  background-color: $white;
}
.logo-container{
  width: auto;
  height: 70px;
  display: inline-block;
  margin: 10px 15px;
}
.logo {
  height: 50px;
  width: 50px;
}
