a{
  text-decoration: none;
}
.main-button{
  a{
  color: white;
}
}
.ticket-button{
  a{
    color: $goldenrod;
  }
}
.counter-box{
  .counter-block{
    font-size: 60px;
    padding-left: 10px;
  }
}
.head-space{
  margin: 0 6%;
  padding: 2% 0 0;
}
.white-divider {
  padding: 2px;
  background-color: $white;
  margin-top: 5%;
}
.desknav {
  display: none;
}
.white-bar {
  padding: 2px;
  background-color: $white;
  width: 30%;
  margin-left: 20%;
  margin-top: -5%;
}
.logo-container{
  width: auto;
  height: 70px;
  display: inline-block;
  margin: 10px 15px;
}
.logo {
  height: 100%;
}
.home-nav {
  height: 50px;
}
.counter-container {
  background-color: $yellow;
  margin: 3%;
  height: auto;
  margin-top: -6%;
  padding: 10%;
}
.ticket-container {
  width: 300px;
  background-color: $goldenrod;
  margin: 0 auto 15%;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2%;
}
.ticket-button {
  background-color: $white;
  width: 70%;
  height: 1%;
  margin: 0 auto;
}
.main-button-contain {
padding-bottom: 5%;
text-align: center;
}
.main-button {
  background-color: $yellow;
  padding: 5%;
  margin-left: 10%;
  width: 60%;
}
 .favicon {
   display: none;
 }
