.ticket-menu-box{
  width: 98px;
  height: 22px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  margin: 0 0 0 10%;
  font-weight: bold;
}
.none{
  display: none;
}
.ddmenu2{
  max-width: 78px;
  margin-left: 10%;
  height: auto;
  right: 0;
  text-align: left;
  padding: 10px;
  z-index: 2;
  border: 1px solid black;
}
.hover{
  padding-left: 5px;
  font-size: 24px;
  width: 100%;
  margin: 0;
}
.hover:hover{
  	background-color: $yellow;
  }
.ticket-count{
  padding: 10px 0 20px 0;
}
.zero{
  padding: 0 30px 0 0;
}
.awesome{
  font-size: 30px;
}
