.bar{
  width: 20px;
  height: 3px;
  background-color: $white;
  margin: 5px;
}
.burger{
  width: 35px;
  height: 35px;
  padding: 2px;
  margin: auto;
  cursor: pointer;
}
.ddmenu{
  display: block;
  height: auto;
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: $gunmetal;
  min-width: 200px;
  z-index: 1;
  text-align: center;
  border: 2px solid black;
}
.none{
  display: none;
}
.link{
  display: block;
  font-size: 21px;
  text-decoration: none;
  padding: 20px 0 5px;
  color: $white;
}
.nav{
  	position: relative;
  	display: inline-block;
    float: right;
}
// .nav:hover .ddmenu {
//   	display: block;
//   }
.link:hover{
    height: 20px;
    width: auto;
    background-color: $yellow;
    padding-bottom: 3px;
  }
.nav-contain {
  height: 50%;
}
