$lora: 'Lora', Arial, sans-serif;
$mont: 'Montserrat', Arial, sans-serif;
$white: #f5f5f5;
$yellow: #ffae00;
$goldenrod: #d08e01;
$gunmetal: #313131;
$grey: #ebebeb;
$threeTwo: 1.52;
$twoFour: 1.41;
$threeSix: 1.71;
