html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bar {
  width: 20px;
  height: 3px;
  background-color: #f5f5f5;
  margin: 5px; }

.burger {
  width: 35px;
  height: 35px;
  padding: 2px;
  margin: auto;
  cursor: pointer; }

.ddmenu {
  display: none;
  height: auto;
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #313131;
  min-width: 200px;
  z-index: 1;
  text-align: center;
  border: 2px solid black; }

.link {
  display: block;
  font-size: 21px;
  text-decoration: none;
  padding: 20px 0 5px;
  color: #f5f5f5; }

.nav {
  position: relative;
  display: inline-block;
  float: right; }

.nav:hover .ddmenu {
  display: block; }

.link:hover {
  height: 20px;
  width: auto;
  background-color: #ffae00;
  padding-bottom: 3px; }

.nav-contain {
  height: 50%; }

a {
  text-decoration: none; }

.main-button a {
  color: white; }

.ticket-button a {
  color: #d08e01; }

.head-space {
  margin: 0 6%;
  padding: 2% 0 0; }

.white-divider {
  padding: 2px;
  background-color: #f5f5f5;
  margin-top: 5%; }

.white-bar {
  padding: 2px;
  background-color: #f5f5f5;
  width: 30%;
  margin-left: 20%;
  margin-top: -5%; }

.logo-container {
  width: auto;
  height: 70px;
  display: inline-block;
  margin: 10px 15px; }

.logo {
  height: 100%; }

.home-nav {
  height: 50px; }

.counter-container {
  background-color: #ffae00;
  margin: 10%;
  margin-top: -6%;
  padding: 10%; }

.ticket-container {
  width: 300px;
  height: 150px;
  background-color: #d08e01;
  margin: 0 20% 0 20%;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2%; }

.ticket-button {
  background-color: #f5f5f5;
  width: 70%;
  height: 1%;
  margin: 0 auto; }

.main-button-contain {
  padding-bottom: 5%;
  text-align: center; }

.main-button {
  background-color: #ffae00;
  padding: 5%;
  margin-left: 10%;
  width: 60%; }

.herohead, .herohome {
  font-family: "Lora", Arial, sans-serif;
  font-size: 24px;
  color: #ffae00;
  letter-spacing: 1.2;
  font-weight: bold; }

.herohome {
  font-size: 32px;
  letter-spacing: 1.6;
  margin: 30px 50px; }

.mont24 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  padding: 20px; }

.mont18 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  padding: 20px; }

.mont16 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  padding: 20px; }

.mont21 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 21px;
  padding: 20px; }

.lora16 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 16px;
  padding: 20px; }

.lora21 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 21px;
  padding: 20px; }

.lora18 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 18px;
  padding: 20px; }

.lora17 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 17px;
  padding: 20px; }

.lora15 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 15px;
  padding: 20px; }

.mont14 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13.6px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #f5f5f5; }

.mont13 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  padding: 20px; }

.index .counter-container .mont18 {
  letter-spacing: .9px;
  text-align: center;
  color: white;
  font-weight: bold; }
.index .counter-container .mont21 {
  text-align: center;
  color: white; }
.index .ticket-container .mont24 {
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: bold;
  color: white; }
.index .ticket-container .mont18 {
  letter-spacing: .9px;
  text-align: center;
  font-weight: bold;
  color: #ffae00; }
.index .white-background .lora21 {
  line-height: 1.52;
  text-align: left;
  font-weight: bold; }
.index .white-background .lora17 {
  line-height: 1.41;
  letter-spacing: 0.9px;
  text-align: left; }
.index .gray-background .lora18 {
  line-height: 1.41;
  letter-spacing: .9px;
  text-align: left;
  font-weight: bold; }
.index .gray-background .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
.index .two .lora21 {
  line-height: 1.71;
  text-align: left;
  font-weight: bold; }
.index .two .lora17 {
  line-height: 1.41;
  letter-spacing: .9px;
  text-align: left; }
.index .two .mont18 {
  line-height: 1.73;
  letter-spacing: .9px;
  text-align: left; }
.index .two .mont21 {
  line-height: 1.71;
  text-align: left;
  color: #ffae00;
  font-weight: bold; }
.index .yellow-background .mont21 {
  line-height: 1.43;
  text-align: left;
  font-weight: bold; }
.index .yellow-background .lora18 {
  line-height: 1.41;
  text-align: left; }
  .index .yellow-background .lora18 strong {
    font-weight: bold; }
.index .yellow-background .lora16 {
  line-height: 1.41;
  text-align: left; }
.index .footer {
  color: white; }
  .index .footer .lora15 {
    line-height: 1.41;
    text-align: left; }
  .index .footer .mont15 {
    font-weight: 500; }
  .index .footer .bot {
    letter-spacing: 1.8px; }

.sponsor .herohead, .sponsor .herohome {
  margin: 5%; }
.sponsor .white-bar {
  margin-top: 5%; }
.sponsor .white-background .ticket-container .mont24 {
  letter-spacing: 1.2px;
  text-align: left;
  color: white;
  font-weight: bold; }
.sponsor .white-background .ticket-container .mont18 {
  letter-spacing: .9px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 15px; }
.sponsor .white-background .mont21 {
  line-height: 1.41;
  text-align: left; }
.sponsor .white-background .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
  .sponsor .white-background .lora16 strong {
    font-weight: bold; }
.sponsor .gray-background .mont24 {
  line-height: 1.41;
  letter-spacing: 1.2px;
  text-align: left;
  font-weight: bold; }
.sponsor .gray-background .lato18 {
  line-height: 1.41;
  letter-spacing: .9px;
  text-align: left; }
.sponsor .two .mont21 {
  line-height: 1.41;
  text-align: left;
  font-weight: bold; }
.sponsor .two .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
.sponsor .two .main-button .mont16 {
  line-height: 1.71;
  letter-spacing: .8px;
  text-align: center;
  color: white; }
.sponsor .yellow-background .mont21 {
  line-height: 1.43;
  text-align: left;
  font-weight: bold; }
.sponsor .yellow-background .lora18 {
  line-height: 1.41;
  text-align: left;
  font-weight: bold; }
.sponsor .yellow-background .lora16 {
  line-height: 1.41;
  text-align: left; }
.sponsor .footer {
  color: white; }
  .sponsor .footer .lora15 {
    line-height: 1.41;
    text-align: left; }
  .sponsor .footer .mont15 {
    font-weight: 500; }
  .sponsor .footer .bot {
    letter-spacing: 1.8px; }

.tickets .white-background .lora18 {
  line-height: 1.56;
  letter-spacing: .9px;
  text-align: left; }
.tickets .white-background .mont21 {
  line-height: 1.41;
  text-align: left; }
  .tickets .white-background .mont21 strong {
    font-weight: bold; }
.tickets .white-background .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
.tickets .white-background .price {
  color: #d08e01;
  line-height: 1.71; }
.tickets .two .mont21 {
  line-height: 2.57;
  text-align: left; }
.tickets .two .mont16 {
  line-height: 1.71;
  letter-spacing: .8px;
  text-align: center; }
.tickets .two .main-button {
  margin-bottom: 10%; }
.tickets .yellow-background .mont21 {
  line-height: 1.43;
  text-align: left;
  font-weight: bold; }
.tickets .yellow-background .lora18 {
  line-height: 1.41;
  text-align: left;
  font-weight: bold; }
.tickets .yellow-background .lora16 {
  line-height: 1.41;
  text-align: left; }
.tickets .footer {
  color: white; }
  .tickets .footer .lora15 {
    line-height: 1.41;
    text-align: left; }
  .tickets .footer .mont15 {
    font-weight: 500; }
  .tickets .footer .bot {
    letter-spacing: 1.8px; }

.speaker .herohome {
  margin-top: 3%;
  margin-bottom: 7%; }
.speaker .white-background .ticket-container .mont24 {
  letter-spacing: 1.2px;
  text-align: center;
  color: white; }
.speaker .white-background .ticket-container .mont18 {
  letter-spacing: .8px;
  text-align: center;
  font-weight: bold;
  color: #ffae00;
  padding: 15px; }
.speaker .white-background .mont16:first-child {
  color: #ffae00; }
.speaker .white-background .mont16 {
  letter-spacing: 0.8px;
  color: black; }
.speaker .white-background .mont13 {
  line-height: 1.62;
  letter-spacing: 0.6px;
  text-align: left;
  font-weight: 500; }
.speaker .white-background .mont18 {
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 500; }
.speaker .white-background .lora16 {
  line-height: 1.69;
  letter-spacing: 0.8px;
  text-align: left; }
.speaker .white-background .OR:first-child {
  color: black; }
.speaker .gray-background .mont16:first-child {
  color: #ffae00; }
.speaker .gray-background .mont18 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left;
  font-weight: bold; }
.speaker .gray-background .mont16 {
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: left;
  font-weight: 500;
  color: black; }
.speaker .gray-background .lora16 {
  line-height: 1.69;
  letter-spacing: .8px; }
.speaker .gray-background .OR:first-child {
  color: black; }
.speaker .yellow-background .mont21 {
  line-height: 1.43;
  text-align: left;
  font-weight: bold; }
.speaker .yellow-background .lora18 {
  line-height: 1.41;
  text-align: left; }
  .speaker .yellow-background .lora18 strong {
    font-weight: bold; }
.speaker .yellow-background .lora16 {
  line-height: 1.41;
  text-align: left; }
.speaker .footer {
  color: white; }
  .speaker .footer .lora15 {
    line-height: 1.41;
    text-align: left; }
  .speaker .footer .mont15 {
    font-weight: 500; }
  .speaker .footer .bot {
    letter-spacing: 1.8px; }

.about .herohead, .about .herohome {
  margin: 4%; }
.about .white-bar {
  margin-top: 5px; }
.about .white-background .ticket-container .mont24 {
  letter-spacing: 1.2px;
  text-align: left;
  color: white;
  font-weight: bold; }
.about .white-background .ticket-container .mont18 {
  letter-spacing: .9px;
  text-align: center;
  color: white;
  font-weight: bold; }
.about .white-background .ticket-container .ticket-button {
  max-height: 10px; }
.about .white-background .mont24 {
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: left;
  font-weight: bold; }
.about .white-background .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
.about .gray-background .mont24 {
  line-height: 1.41;
  letter-spacing: 1.2px;
  text-align: left; }
.about .gray-background .lora16 {
  line-height: 1.41;
  letter-spacing: .8px;
  text-align: left; }
.about .gray-background .lora21 {
  line-height: 1.41;
  text-align: left;
  font-weight: bold; }
.about .gray-background .lora18 {
  line-height: 1.41;
  letter-spacing: .9px;
  text-align: left; }
.about .two .mont24 {
  line-height: 1.71;
  letter-spacing: 1.2px;
  text-align: left;
  font-weight: bold; }
.about .two .lora18 {
  line-height: 1.41;
  letter-spacing: .9px;
  text-align: left; }
.about .two .form .lora18 {
  line-height: 1.71;
  letter-spacing: .9px;
  text-align: left; }
.about .two .mont18 {
  line-height: 1.71;
  letter-spacing: .9px;
  text-align: center; }
.about .yellow-background .mont21 {
  line-height: 1.43;
  text-align: left;
  font-weight: bold; }
.about .yellow-background .lora18 {
  line-height: 1.41;
  text-align: left; }
  .about .yellow-background .lora18 strong {
    font-weight: bold; }
.about .yellow-background .lora16 {
  line-height: 1.41;
  text-align: left; }
.about .footer {
  color: white; }
  .about .footer .lora15 {
    line-height: 1.41;
    text-align: left; }
  .about .footer .mont15 {
    font-weight: 500; }
  .about .footer .bot {
    letter-spacing: 1.8px; }

.white-background {
  background-color: white;
  width: 100%; }

.yellow-background {
  background-color: #ffae00; }

.gray-background {
  background-color: #ebebeb; }

.gold-background {
  background-color: #d08e01; }

.footer {
  background-color: #313131; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

.overlay {
  background: transparent;
  position: relative;
  width: 640px;
  height: 400px;
  /* your iframe height */
  top: 400px;
  /* your iframe height */
  margin-top: -400px;
  /* your iframe height */ }

.hero {
  background-image: url("../image/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16em; }

.sponsor .desktop {
  display: none; }
.sponsor .table {
  width: 90%;
  margin: 3% auto;
  border: 1px black; }
  .sponsor .table .lora16 {
    letter-spacing: .8px; }
  .sponsor .table .mont24 {
    letter-spacing: .8px; }
.sponsor td {
  width: 16%;
  line-height: 1.31;
  padding: 1%; }
.sponsor th {
  line-height: 1.52;
  text-align: left; }
.sponsor .mont16 {
  line-height: 1.71;
  letter-spacing: .8px;
  text-align: center;
  font-weight: bold;
  color: white; }
.sponsor .deets {
  width: 50%;
  margin: 100px 5% 50px 40%; }
  .sponsor .deets h2 {
    font-weight: bold; }
  .sponsor .deets .mont24 {
    line-height: 1.41;
    letter-spacing: 1.8px;
    text-align: left; }
  .sponsor .deets .lora18 {
    line-height: 1.41;
    letter-spacing: .9px;
    text-align: left; }
  .sponsor .deets .lora16 {
    line-height: 1.41;
    letter-spacing: .8px;
    text-align: left; }

.location-img {
  width: 100%; }

.text-mess {
  padding: 10px;
  border-color: black; }

.speaker .herohome {
  padding: 10%; }

.speaker .white-bar {
  padding: 2px;
  background-color: #f5f5f5;
  width: 30%;
  margin-left: 25%;
  margin-top: -15%; }

.speaker .hero {
  height: 14em; }

.tickets .herohead, .tickets .herohome {
  padding: 10%; }

.tickets .hero {
  height: 17em; }

.tickets .white-bar {
  margin-left: 11%;
  position: absolute; }

.ddmenu2 {
  width: 98px;
  height: 54px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  margin: 0 0 0 10%;
  font-weight: bold; }

.ticket-count {
  padding: 20px 0 0 0; }

.zero {
  padding: 0 30px 0 0; }

.awesome {
  font-size: 30px; }

@media only screen and (min-width: 768px) {
  .index .hero {
    height: 400px; }
  .index .herohome {
    font-size: 40px; }
  .index .white-bar {
    width: 20%;
    margin-left: 8%;
    margin-top: -2%; }
  .index .counter-container {
    padding: 0; }
  .index .main-button {
    margin: -50px 90px 0 100px;
    padding: 10px;
    width: 20%;
    float: right; }
  .index .nav {
    margin: 20px; }

  .ticket-container {
    margin: 40px 40px 70px 20px;
    float: left; }

  .speaker .hero {
    height: 300px; }
  .speaker .white-bar {
    margin-left: 20%;
    width: 10%; }
  .speaker .white-divider {
    margin-top: 3%; }
  .speaker .ticket-container {
    margin: 40px 180px 230px 20px; }
  .speaker .head-space {
    margin: 2% 0 0 1%; }
  .speaker .nav {
    margin: 20px; }

  .sponsor .nav {
    margin: 20px; }
  .sponsor .herohome {
    font-size: 25px; }
  .sponsor .white-bar {
    margin-top: 0;
    width: 10%; }
  .sponsor .ticket-container {
    margin: 40px 40px 210px 20px; }
  .sponsor .main-button {
    margin: -50px 90px 0 100px;
    padding: 10px;
    width: 20%;
    float: right; }
  .sponsor .two .lora16 {
    width: 60%; }

  .tickets .hero {
    height: 300px; }
  .tickets .nav {
    margin: 20px; }
  .tickets .herohead, .tickets .herohome {
    font-size: 25px; }
  .tickets .white-bar {
    margin-top: -7%;
    width: 10%; }

  .about .hero {
    height: 300px; }
  .about .nav {
    margin: 20px; }
  .about .herohead, .about .herohome {
    font-size: 25px; }
  .about .white-bar {
    width: 10%; }
  .about .ticket-container {
    margin: 40px 40px 210px 20px;
    padding-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
